*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #020887;
}
h3{
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
}
.card{
    background-color: #334195;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    max-width: 540px;
    max-height: 420px;
    height: 70vh;
    min-width: 280px;
    min-height: 420px;
    position: relative;
    /* centering the div */
    top: 50vh;
    left: 50%;
    padding: 0.5em;
    transform: translateX(-50%) translateY(-50%);
    /* gap: 1.5em; */
}
.lengthContainer{
    margin: 20px auto 20px;
    width: 100%;
    text-align: center;
}
#passwordLength{
    background-color: #e6efff;
    color: #000000;
    width: 80%;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: 0px solid #95B2B0;
    border-radius: 20px;
}
#passwordLength::placeholder{
    color: #364444;
    font-size: 0.8em;
}
#passwordBox{
    margin-bottom: 20px;
    width: 80%;
    outline: none;
    resize: none;
    border: 0px solid #95B2B0;
    border-radius: 20px;
    background-color: #e6efff;
    color: #000000;
    padding: 1em;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 1em;
    margin-bottom: 20px;
}
button{
    background-color: #e6efff;
    color: #000000;
    border-radius: 20px;
    border: 0px;
    flex: 1;
    cursor: pointer;
    padding: 10px;
    outline: none;
}
button:hover{
    background-color: #010d22;
    color: #fffefe;
}
button:active{
    background-color: #27303e;
    color: #fffefe;
}
.description{
    color: white;
    margin-top: -10px;
    text-align: center;
    width: 80%;
}
.red{
    border: 1px solid red;
}
@media (max-width:400px) {
    .card{
        top:34vh;
    }
    button{
        font-size: 0.6rem;
    }
    .description{
        font-size: 0.8rem;
    }
}